.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Taşmaları engeller */
  }
  
  .background-container img {
    width: 100%;
    height: 100%; /* Resmin doğal oranını korur */
    object-fit: cover;
  }
  .empty-box{
    position: fixed; /* Sabit pozisyon */
    background: rgba(0, 0, 0,0.2);
    color: black;
    font-size: 28px;
    border-radius: 5px;
    border: 2px solid black;
    top: 50%; /* Y ekseninde tam ortada */
    left: 50%; /* X ekseninde tam ortada */
    transform: translate(-50%, -50%); /* Öğeyi tam olarak ortalar */
    padding: 0;
    width: 24%;
    height: 70%;
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    justify-content: space-evenly; /* Öğeler arasındaki boşlukları eşit yap */
    align-items: center; /* Öğeleri yatayda ortala */
    box-sizing: border-box; 
    z-index: 10;  
}
@media (max-width: 960px) {/*ekranın yarısı*/
    .empty-box {
      width: 38%; /* Genişlik artırıldı */
    }

  }

  .button {
    margin-top: 20px;
  }
  
  .button button {
    padding: 8% 16%; /* Buton içindeki boşluk */
    font-size: 16px; /* Buton yazı boyutu */
    background-color: #000000; /* Buton rengi */
    color: white; /* Buton yazı rengi */
    border: none; /* Buton kenarlığı yok */
    border-radius: 5px; /* Buton köşe yuvarlama */
    cursor: pointer; /* Fareyi butonun üstüne getirince el simgesi */
    align-items: center;
    

    }
  
  .button button:hover {
    background-color: #c04e03; /* Buton üzerine gelince renk değişimi */
  }
  
  .name-text, .password-text,.Mail-text,.confirm-password-text {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .name-text input,.Mail-text input, .password-text input,.confirm-password-text input {
    width: 100%; /* Genişlik %100 */
    padding: 10px; /* İç boşluk */
    font-size: 16px; /* Yazı boyutu */
    border: 1px solid #ccc; /* Kenarlık */
    border-radius: 5px; /* Köşe yuvarlama */
  }
  
  .name-label,.mail-label ,.password-label,.confirm-password-label {
    width: 100%;
    text-align: left;
    font-size: 18px; /* Etiket yazı boyutu */
    margin-bottom: 5px;
  }